<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Onde estou?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="content-wrapper">
    <ion-button 
      expand="block" 
      (click)="obterLocalizacao()"
      class="location-button"
      shape="round">
      <ion-icon slot="start" name="locate-outline"></ion-icon>
      Obter Localização
    </ion-button>

    <ion-card *ngIf="coordenadas" class="coordinates-card">
      <ion-card-header>
        <ion-card-title>Coordenadas Atuais</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list lines="none">
          <ion-item>
            <ion-label>Latitude: {{coordenadas.latitude}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Longitude: {{coordenadas.longitude}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <div id="map" #map class="map-container"></div>
  </div>
</ion-content>